<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Power Jump</title>
    <base href="/"/>
    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="js/angular.js"></script>

    <!-- Latest compiled and minified CSS -->
    <!-- load bootstrap via cdn -->
    <link rel="stylesheet" href="css/all.css" />



    <!-- load angular -->
    <!-- ANGULAR -->
    <!-- all angular resources will be loaded from the /public folder -->
    <script src="js/controllers/eventController.js"></script>
    <!-- load our controller -->
    <script src="js/services/eventService.js"></script>
    <!-- load our service -->
    <script src="js/app.js"></script>
    <!-- load our application -->

</head>
<!-- declare our angular app and controller -->
<body class="container" ng-app="eventApp" ng-controller="mainController">

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Администраторски панел</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Проекти</a>
                </li>
                <li>
                    <a href="event">Събития</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#" target="_blank">Изход</a></li>
            </ul>

        </div>
    </div>
</div>



    <div ng-view>

    </div>


</div>
</body>
</html>